<!-- Buka List Akhir Tahun dan BACA -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GPI Jalan Suci Kota Ambon</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@300&display=swap" rel="stylesheet" />

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/f664d25449.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Style/style.css" />
  </head>

  <body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/img/logo gereja.png" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="Renungan">Renungan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="InfoIbadah">Info Ibadah</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Kontak">Kontak</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Gambar Utama -->
    <section id="gambar-utama">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/gambar1.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="/img/gambar2.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="/img/gambar3.jpg" class="d-block w-100" alt="..." />
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div>
        <h2>"Kita Keluarga Besar Tubuh Kristus Bahagia"</h2>
      </div>
    </section>

    <!-- Sejarah Jalan Suci -->
    <section id="sejarahJS">
      <div>
        <h3>Gereja Pekabaran Injil Jalan Suci</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magnis dis parturient montes nascetur ridiculus mus mauris. Diam in arcu cursus euismod quis viverra nibh
          cras. Montes nascetur ridiculus mus mauris vitae ultricies leo. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Facilisis leo vel fringilla est ullamcorper eget. Donec enim diam vulputate ut pharetra. Viverra
          adipiscing at in tellus. Viverra maecenas accumsan lacus vel facilisis volutpat. Nisl suscipit adipiscing bibendum est. Eget velit aliquet sagittis id consectetur purus ut faucibus pulvinar. Porttitor eget dolor morbi non arcu
          risus quis. Sit amet aliquam id diam maecenas ultricies. Volutpat ac tincidunt vitae semper quis. Diam vulputate ut pharetra sit amet aliquam id diam maecenas. Augue lacus viverra vitae congue. Nec sagittis aliquam malesuada
          bibendum arcu vitae elementum curabitur vitae. Etiam sit amet nisl purus in mollis.
        </p>
      </div>
    </section>

    <!--Visi dan Misi -->
    <section id="visi-misi">
      <div class="row visi-misi">
        <div class="col-lg-6">
          <h3>Visi Gereja</h3>
          <ul>
            <li>Melaksanakan secara murni Kebenaran Firman Tuhan yang Alkitabiah</li>
            <li>Melaksanakan pembangunan Tubuh Kristus. Efesus 4:12; 1 Korintus 12:12-13.</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <h3>Misi Gereja</h3>
          <ul>
            <li>Membangun manusia segambar dan serupa dengan Kristus. kejadian 1:26; 2 korintus 3:18</li>
            <li>Menyiapkan pelayanan Lima Jawatan Roh. Efesus 4:11.</li>
            <li>Membawa kembali kuasa Roh Allah dalam Gereja.</li>
            <li>Mempersiapkan penuai-penuai di akhir zaman.</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Konten Baru -->
    <section id="AnotherContent">
      <h3>Another Content</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magnis dis parturient montes nascetur ridiculus mus mauris. Diam in arcu cursus euismod quis viverra nibh
        cras. Montes nascetur ridiculus mus mauris vitae ultricies leo. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Facilisis leo vel fringilla est ullamcorper eget. Donec enim diam vulputate ut pharetra. Viverra
        adipiscing at in tellus. Viverra maecenas accumsan lacus vel facilisis volutpat. Nisl suscipit adipiscing bibendum est. Eget velit aliquet sagittis id consectetur purus ut faucibus pulvinar. Porttitor eget dolor morbi non arcu risus
        quis. Sit amet aliquam id diam maecenas ultricies. Volutpat ac tincidunt vitae semper quis. Diam vulputate ut pharetra sit amet aliquam id diam maecenas. Augue lacus viverra vitae congue. Nec sagittis aliquam malesuada bibendum arcu
        vitae elementum curabitur vitae. Etiam sit amet nisl purus in mollis.
      </p>
    </section>

    <!-- Kontak -->
    <footer class="footer" id="kontak">
      <i class="fa-brands fa-facebook footer-icons"></i>
      <i class="fa-brands fa-instagram footer-icons"></i>
      <i class="fa-brands fa-twitter footer-icons"></i>
      <h4>Love Youth GPI Jalan Suci</h4>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
